<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <title>Alt-vaalikone</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.4/d3.min.js"
        integrity="sha256-b5LQ0B6GDT0kJPBUIDTnS2eJp9XuMaRxkAi2+c07RV4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"
        integrity="sha256-8E6QUcFg1KTnpEU8TFGhpTGHw5fJqB9vCms3OhAYLqw="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha256-rr9hHBQ43H7HSOmmNkxzQGazS/Khx+L8ZRHteEY1tQ4="
        crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.min.js" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div id="vuemain" class="row">
      <div class="question-column">
        <div class="select-row">
          <select v-model="selected.city" class="form-control">
            <option :value="null">-</option>
            <option v-for="city in cities" :value="city">{{city}}</option>
          </select>
        </div>
        <div v-for="question in sortedQuestions" class="row question-row">
          <div class="col-2" style="text-align: right">
            <a class="btn" @click="toggleOpinion(question.id, 1)"
              :class="arrowClass(question.id, 1)">&#8679;</a>
            <a class="btn" @click="toggleOpinion(question.id, -1)"
              :class="arrowClass(question.id, -1)">&#8681;</a>
          </div>
          <div class="col">
            <span :style="question.style">{{question.question}}</span>
          </div>
        </div>
      </div>
      <div class="graph-column">
        <div v-for="party in sortedParties" :style="party.style" class="party-row" v-if="!selected.party">
          <a class="party-text" @click="toggleSelectedParty(party.name)"
            :class="{ strong: selected.party === party.name }">{{party.name}}</a>
          <svg v-if="party.bins" :width="style.plot.width" :height="style.plot.height">
            <circle v-for="c in party.bins" :r="c.r" :cx="c.cx" :cy="c.cy" :fill="c.color"/>
          </svg>
        </div>
        <div v-if="selected.party">
          <div class="row">
            <h3 class="col-9" style="text-align: center">{{selected.party}}<h3>
            <small class="col-3" style="text-align: right" @click="selected.party = null">X</small>
          </div>
          <div class="row" v-for="person in sortedCandidates">
            <div class="col">
              <span :style="person.style">{{person.name}}</span>
              <small v-if="!selected.city" style="color: gray"> ({{person.city}})</small></div>
            <div class="col">
              <span v-for="answer in person.answers" :style="answer.style">
                <span v-if="!answer.value">&#9898;</span>
                <span v-if="answer.value > 0">&#8679;</span>
                <span v-if="answer.value < 0">&#8681;</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
<script src="vaalikone.js"></script>
<script type="text/javascript">
"use strict";

let model;

const app = new Vue({
  el: '#vuemain',
  data: {
    questions: [],
    allParties: [],
    options: [],
    cities: [],
    selected: {
      party: null,
      city: null
    },
    opinions: {},
    style: {
      plot: {
        width: 300,
        height: 30
      },
      textColorMapBrightness: 0.7
    }
  },
  methods: {
    toggleSelectedParty(party) {
      if (this.selected.party === party) {
        this.selected.party = null;
      } else {
        this.selected.party = party;
      }
    },
    toggleOpinion(id, sign) {
      if (this.opinions[id] === sign)
        this.opinions[id] = null;
      else
        this.opinions[id] = sign;
    },
    arrowClass(id, sign) {
      if (this.opinions[id] === sign) {
        return 'selected-' + (sign > 0 ? 'positive' : 'negative');
      }
    },
    colorMap(brightness = 1.0) {
      return Model.getColorMap(
        [this.options.minScore, this.options.maxScore],
        brightness);
    },
    textColorMap() {
      return this.colorMap(0.7);
    },
    setAnswerData(answers) {
      model = new Model(answers);
      this.cities = [...model.cities];
      this.options = {...model.options};
      this.candidates = [...model.candidates];
      this.allParties = [...model.parties];
    }
  },
  watch: {
    questions() {
      // make all opinions reactive
      this.questions.forEach(question => {
        Vue.set(this.opinions, question.id, null);
      });
    }
  },
  computed: {
    parties() {
      return this.allParties.filter(party => {
        return !this.selected.city ||
          this.candidates.filter(p =>
            p.city === this.selected.city &&
            p.party === party).length > 0;
      });
    },

    nonEmptyOpinions() {
      const opinions = {};
      for (const [key, value] of Object.entries(this.opinions)) {
        if (value) opinions[key] = value;
      }
      return opinions;
    },

    anyOpinions() {
      return Object.keys(this.nonEmptyOpinions).length > 0;
    },

    sortedParties() {
      if (!this.anyOpinions) return this.parties.map(p => ({ name: p }));

      const parties = this.parties.map(party => ({
        name: party,
        results: model.scorePeople(
          this.nonEmptyOpinions,
          this.candidates.filter(person => person.party === party))
      }));

      let allBins = {};
      parties.forEach(p =>
        Object.keys(p.results.bins).forEach(b => {
          allBins[b] = true;
        })
      );
      allBins = Object.keys(allBins).map(b => parseFloat(b)).sort((a,b) => a-b);

      const textColorMap = this.textColorMap();
      const binColorMap = this.colorMap(0.9);

      parties.forEach(party => {
        party.style = 'color: ' + textColorMap(party.results.score);

        const xDelta = this.style.plot.width / allBins.length;
        let cx = xDelta*0.5;
        const maxR = this.style.plot.height * 0.7;
        party.bins = allBins.map(b => {
          cx += xDelta;
          return {
            cx: cx - xDelta,
            cy: this.style.plot.height*0.5,
            r: Math.sqrt(party.results.bins[b]) * maxR,
            color: binColorMap(b)
          };
        })
        .filter(c => c.r > 0);
      });

      parties.sort((a,b) => b.results.score - a.results.score);
      return parties;
    },

    sortedQuestions() {
      if (!this.selected.party) return this.questions;

      const colorMap = this.textColorMap();
      const partyPeople = this.candidates.filter(p => p.party === this.selected.party);
      const questions = this.questions.map(question => {
        const score = model.scorePeople({ [question.id]: 1 }, partyPeople).score;
        return {
          score,
          style: 'color: ' + colorMap(score),
          ...question
        }
      })
      .sort((a,b) => b.score - a.score);

      return questions
        .filter(q => this.nonEmptyOpinions[q.id])
        .concat(questions.filter(q => !this.nonEmptyOpinions[q.id]));
    },

    sortedCandidates() {
      if (!this.selected.party) return [];
      let partyPeople = this.candidates
        .filter(p => p.party === this.selected.party)
        .filter(p => !this.selected.city || p.city === this.selected.city);

      if (!this.anyOpinions) return partyPeople;

      const colorMap = this.textColorMap();
      return partyPeople.map(person => {
        const score = model.scorePeople(this.nonEmptyOpinions, [person]).score;
        const answers = model.getPersonAnswerScores(person,  this.nonEmptyOpinions);
        return {
          score,
          style: 'color: ' + colorMap(score),
          answers: answers.map(x => ({
            value: x,
            style: 'color: ' + colorMap(x)
          })),
          ...person
        }
      })
      .sort((a,b) => b.score - a.score);
    }
  }
});

Promise.all(
  ['data/questions.json', 'data/answers.json']
  .map(file => fetch(file).then(res => res.json()))
).then(([questions, answers]) => {
  app.questions = Object.keys(questions).map(q => ({
    id: q,
    question: questions[q]
  }));
  app.setAnswerData(answers);
});
</script>
</html>
