body {
    margin: 2%;
}

.party-row {
  text-align: right;
  font-weight: bold;
  padding-right: 20%;
}

.party-text {
  vertical-align: top;
  display: inline-block;
}

.graph-column {
    position: fixed;
    top: 10;
    left: 55%;
    width: 50%;
}

.question-column {
    margin: 3%;
    width: 50%;
}

.person-name {
    text-align: right;
    font-weight: bold;
}

a {
    color: #505050;
}

a:focus {
    color: black !important;
    font-size: 14pt;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: black;
    text-decoration: none;
}

.strong {
    font-weight: bold !important;
    font-size: 14pt;
    text-decoration: none;
}

li {
    margin-top: 8px;
    margin-bottom: 8px;
}

a.selected-positive {
  color: green !important;
}

a.selected-negative {
  color: red !important;
}
