body {
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  padding-bottom: 4em;
}

a {
  cursor: pointer !important;
}

[v-cloak] {display: none}

.info-text {
  font-size: 16pt;
  width: 100%;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  font-weight: bold;
}

.error {
  width: 100%;
  margin-top: 15%;
  text-align: center;
  font-size: 16pt;
}

.party-row {
  text-align: left;
  display: flex;
  color: gray;
}

.party-heading {
  font-size: 18pt;
  margin-top: 1em;
}

.party-col {
  flex-basis: 200px;
  flex-grow: 3;
  flex-shrink: 1;
  overflow: hidden;
  white-space: nowrap;
}

.strong {
  font-weight: bold;
}

.bin-col {
  text-align: left;
  flex-basis: 150px;
  flex-grow: 0;
  flex-shrink: 0;
}

.arrow-col {
  white-space: nowrap;
  text-align: center;
  width: 1em;
  display: inline-block;
}

.person-col {
  white-space: nowrap;
  overflow: hidden;
}

.party-col-spacer {
  flex-basis: 0px;
  flex-grow: 2;
  flex-shrink: 10;
}

.party-text {
  vertical-align: top;
  display: inline-block;
}

.select-row {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

.question-row {
  display: flex;
  padding-bottom: 1em;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 1em;
  width: 100%;
  justify-content: center;
}

.copyright {
  position: fixed;
  margin-bottom: 0.5%;
  margin-right: 1em;
  bottom: 0;
  right: 0;
}

.button-column {
  flex-basis: 120px;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 200px;
  margin-right: 1em;
}

.text-column {
  flex-basis: 250px;
  flex-shrink: 1;
  flex-grow: 3;
  max-width: 700px;
}

.question-text {
  padding-left: 10%;
  padding-right: 1em;
}

.match-score {
  margin-left: 1em;
  display: inline-block;
}

.person-match-score {
  margin-right: 1em;
}

.select-party-text {
  padding-top: 1em;
  font-size: 16pt;
  text-align: center;
  font-weight: bold;
}

.group-title {
  font-size: 14pt;
}

.question-group {
  margin-bottom: 3em;
}

@media (min-width: 60em) {
  /* Larger screens */
  .result-column {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background: #f8f8f8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .select-party-text {
    width: 60%;
    height: 100%;
    padding-top: 15%;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
  }

  .question-column {
    width: 60%;
  }

  .visible-mobile {
    display: none;
  }

  .floating-action-button {
    left: 65% !important;
    bottom: 3em !important;
  }

  .next-button {
    max-width: 300px;
  }
}

.party-match-score {
  display: none;
}

@media (min-width: 80em) {
  /* Desktops / laptops */
  .party-match-score {
    display: inline-block;
    width: 3em;
  }
}

.ellipsis {
  display: block;
  margin-bottom: 1.0em;
  margin-top: 0.5em;
}

.result-content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  margin: 0;
  padding-right: 1em;
  padding-bottom: 3px;
  padding-left: 0.5em;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  background: #f8f8f8;
}

@media (max-width: 60em) {
  /* Phones, portrait */
  .result-column {
  }

  .button-column {
    text-align: center;
  }

  .hidden-mobile {
    display: none;
  }

  .result-column-answer {
    display: none;
  }

  .question-column-view {
    display: none;
  }

  .copyright {
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.result-column {
  padding: 2em;
}

.question-column.tutorial {
  margin-left: auto;
  margin-right: auto;
}

.question-column {
  padding-top: 3em;
}

.person-name {
  text-align: right;
  font-weight: bold;
}

a {
  color: #505050;
}

.opinion-btn {
  background: #eeeeee;
}

.back-button {
  background: #eeeeee;
}

.next-button {
  color: white !important;
}

.floating-action-button {
  position: fixed;
  bottom: 1.5em;
  left: 2em;
  right: 2em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.selected-positive {
  background: green !important;
  color: white !important;
}

a.selected-negative {
  background: red !important;
  color: white !important;
}
